body{
    background-color: lightgreen;
}

h1 {
    text-align:center;
}

.hero-image {
  background-image: url("perretts2.jpg");
  background-color: lightgreen;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 8;
    width: 15%;
    background-color: darkgreen;
    text-align:center;
    height: 100%;
  }

  li a {
    display: block;
    color: white;
    margin: 20;
  }

  li a:hover {
    background-color: darkgrey;
    color: white;
  }

  img.guidepic {
  float: right;
  width: 80%;
  height: 500px;
  }

  p.description {
    float: right;
    width: 80%;
  }

  div.map {
    float: right;
    width: 80%;
  }

 

  